@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    font-family: 'Manrope';
    --lightgrey: #778899;
    --lightgreyalt: rgb(154, 154, 154);
    --darkgrey: rgb(48, 48, 48);
    --blue: #3B82F6;
    --green: #4ADE80;
    --yellow: #FACC15;
    --red: #EF4444;
    --purple: #6366F1;
    --pink: #D946EF;

}

* {
    box-sizing: border-box;
    margin: 0rem;
}

a {
    text-decoration: none;
}

button {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    border-radius: 0.2rem;
    padding: 0.3rem;
    text-wrap: nowrap;
    font-family: 'Manrope';
    font-size: 1rem;
    border: none;
    background-color: #e9d7ff;
}

button:hover {
    background-color: #e3cbff;
    cursor: pointer;
}


.action-btn {
    display: flex;
    align-items: center;
    margin: 0.25rem;
    padding: 0.3rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.2rem;
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: 700;
    text-wrap: nowrap;
    transition: 0.1s;
}

.action-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.1s;
}

.action-btn:focus {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.1s;
}

h1,
h2,
h3 {
    margin: 0.5rem;
    text-wrap: nowrap;
}

.sub-text {
    color: var(--lightgrey);
    font-size: 0.8rem;
}